/* Text */

@import url('https://fonts.googleapis.com/css?family=Poppins:500');

text, p, h1, h2, h3, h4, h5, h6, a, button {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: white;
    line-height: 100%;
    opacity: 0.95;
    text-decoration: none;
	margin: 0;
}

h1 {
	font-size: 35vw;
}

h2 {
	font-size: 20vw;
}

h3 {
	font-size: 10em;
}

h4 {
	font-size: 5em;
}

text {
	font-size: 5vw;
}

p {
	font-size: 2.5vw;
}

@media screen and (min-width: 1200px) {
	h1 {
		font-size: 26.3em !important;
	}
	
	button {
		font-size: 3.15em !important;
	}
  
	p, a {
		font-size: 1.87em !important;
	}
}

@media screen and (min-width: 1000px) {
	text {
		font-size: 3.15em !important;
	}
	
	button {
		margin: 5vh 50px !important;
		padding: 2.5vh 50px !important;
	}
}

/* Body Elements */

html, body {
	margin: 0;	
	padding: 0;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	overflow-y: scroll;
}

form {
	display: inline;
}

button {
	background: transparent;
	font-size: 4vw;
	display: inline-block;
	border: 5px solid white;
	border-radius: 1em;
	color: white;
	opacity: 0.5;
	transition: opacity 0.25s;

	margin: 5vh 5vw;
	padding: 2.5vh 5vw;
}

button:hover {
	opacity: 1;
    /* transform: translateY(-1.5px); */
}

.flex {
	display: flex;
    justify-content: center;
    align-items: center;
}

/* ID Elements */

#title {
	margin: 0.7em 5em 5em 5em
}

#title > h1 {
	display: block;
	margin: -0.2em;
}

#title > p {
	margin: 1em;
}

#forms {
	margin: 10vh 5vw 0 5vw;
}

#background { /* Center and scale backgroung img */
    position: fixed;
    min-height: 100%;
    width: auto;
    height: 57vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -999;
    filter: brightness(80%);
    transition: filter 2s ease-in-out, transform 2s ease-in-out;
}

#footer {
    text-align: center;
    opacity: 0.75;
	padding-bottom: 0.5em;
}


#footer a {
	text-decoration-line: underline;
	font-size: 2.5vw;
}

#footer a:hover {
	opacity: 1;
}

/* Vertical Centering */
	
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}