/* Text */

@import url('https://fonts.googleapis.com/css?family=Poppins:500');

text, p, h1, h2, h3, h4, h5, h6, a, button {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: white;
    line-height: 100%;
    opacity: 0.95;
    text-decoration: none;
	margin: 0;
}

h1 {
	font-size: 35vw;
}

h2 {
	font-size: 10vw;
}

h3 {
	font-size: 5vw;
}

h4 {
	font-size: 3vw;
}

text {
	font-size: 5vw;
}

p {
	font-size: 2.5vw;
}

@media only screen and (min-width: 1200px) {
    h1 {
        font-size: 26em;
    }
	h2 {
		font-size: 10em;
	}
	h3 {
		font-size: 5em;
	}
	h4 {
		font-size: 3em;
	}
	text {
		font-size: 3.75em;
	}
	p {
		font-size: 1.9em;
	}
	#title > p {
		    transform: translateY(-2em) !important;
	}
	button {
		font-size: 2.5em !important;
		margin: 0.75em 0.75em !important;
		padding: 0.75em 1.5em !important;
	}
	#background {
		min-width: 100vw !important;
	}
}

.vert-center {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

/* Body Elements */

html, body {
    display: block;
    position: absolute;
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;

	background-color: rgb(35,35,35);

	text-align: center;
    margin-left: auto;
    margin-right: auto;
	overflow-x: hidden;
	z-index: -999;
}

/* Title Page */

#background { /* Center and scale background vid */
	position: absolute;
	min-height: 100%;
	width: auto;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background-size: 100% 100%;
    	filter: brightness(40%);
	z-index: -998;
}

#title {
	margin: auto 5vw auto 5vh;
}

#title > h1 {
	display: block;
}

#title > p {
	transform: translateY(-5vw);
}

#forms {
	display: inline-block;
	margin-top: -5vh;
	margin-bottom: 5vh;
}

a.button {
    display: inline-block;
	background: transparent;

	font-size: 3vw;
	color: white;
	opacity: 0.5;
	transition: opacity 0.25s;
	border: 5px solid white;
	border-radius: 1em;

	margin: 2vh 2vw;
	padding: 2vw 4vw;
}

a.button:hover {
	opacity: 1;
	/* background: #252525;
	transition: background 0.25s; */
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    /* transform: translateY(-1.5px); */
}

/* Screenshots */

#description {
	background-color: rgb(35,35,35);
	padding: 2em;
	z-index: 2;
}

.flex {
	display: flex;
    justify-content: center;
    align-items: center;
	flex-wrap: wrap;
}

.flex iframe {
	width: 40vw;
	height: 70vh;
	margin: 1em;
	flex-grow: 1;
}

#preview {
	flex-grow: 2;
	min-height: 80vh;
	min-width: 80vw;
}

.gifs {
	width: 33vw;
	height: auto;
	border: 0.3em solid white;
	border-radius: 3em;
}

.models {
	width: 35vw;
	height: auto;
}

/*  Footer Stuff */

#footer {
    text-align: center;
    opacity: 0.75;
	padding-bottom: 5vh;
}

#footer a {
	text-decoration-line: underline;
	font-size: 2.5vw;
}

#footer a:hover {
	opacity: 1;
}

.logo {
	height: 15em;
}

/* Utilities */

.padding {
	padding: 1em;
}
